.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.container {
  display: flex;
  flex-grow: 1;
}
.todos {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  flex-grow: 1;
  background-color: #b7f593;
  padding: 20px
}
.addTodo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.todoItem {
  margin-bottom: 2px;
}